# geohash

Go [geohash](https://en.wikipedia.org/wiki/Geohash) library offering encoding
and decoding for string and integer geohashes.

## Install

Fetch the package with

```
go get github.com/wckd/{{ .Name }}
```

And import it into your programs with

```go
import "github.com/wckd/{{ .Name }}"
```

{{ .EmitUsage }}
